# Operating System Files
*.class

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

#package file
*.war
*.ear

#kdiff3 ignore
*.orig

#maven ignore
target/

# Build Artifacts

.gradle/
build/
target/
bin/
dependency-reduced-pom.xml

# Eclipse Project Files

.classpath
.project
.settings/

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea
/idea/

#temp file
*.log
*.cache
*.diff
*.patch
*.tmp
*.temp


README.html
#directory
test/
